<%= back_to_source_link %>
<%= link_to "New", new_admin_position_path, class: "btn btn-primary btn-wide", style: "margin-bottom: 10px; margin-top: 5px;" %>

<div class="row" style="margin: 0px 0px;">
  <table class="table table-responsive-md">
    <thead>
      <th>#</th>
      <th>O#</th>
      <th>Source</th>
      <th>Pair</th>
      <th>Direction</th>
      <th>Opened at</th>
      <th>Status</th>
      <th>Entry</th>
      <th>TP</th>
      <th>SL</th>
      <th>CL</th>
      <th>P/L</th>
    </thead>
    <tbody>
      <% @positions.each do |position| %>
        <tr class="position-item <%= position_class(position) %>">
          <td>
            <%= link_to position.id, edit_admin_position_path(position) %>
          </td>
          <td>
            <span><%= position.order_id %></span>
          </td>
          <td>
            <%= position.source.try(:fullname) %>
          </td>
          <td>
            <span><%= position.pair.pair(false) %></span>
          </td>
          <td>
            <span class="<%= position.direction == "buy" ? "green" : "red" %>"><%= position.direction.upcase %></span>
          </td>
          <td>
            <span><%= position.opened_at.strftime("%b %d %H:%M") %></span>
          </td>
          <td>
            <span style="margin-left: 8px;">
              <% if position.closed_at.present? %>
                <i class="fa fa-stop"></i></td>
              <% elsif position.opened_at.present? %>
                <i class="fa fa-play"></i></td>
              <% elsif position.ig_status == "rejected" %>
                <i class="fa fa-times" style="color: red;"></i></td>
              <% else %>
                <%= position.ig_status %>
              <% end %>
            </span>
          </td>
          <td>
            <span><%= position.entry %></span>
          </td>
          <td>
            <span><%= position.take_profit if position.take_profit %></span>
          </td>
          <td>
            <span><%= position.stop_loss if position.stop_loss %></span>
          </td>
          <td>
            <span><%= position.closed if position.closed %></span>
          </td>
          <% if position.pl %>
            <td>
              <span><%= pl(position)%></span>
            </td>
          <% else %>
            <td class="js-ongoing-deal ongoing-deal" data-position-id="<%= position.id %>">
              <% image_tag("loading.gif", size: "20") %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
