<%= back_to_source_link %>
<%= link_to "New", new_admin_fx_signal_path, class: "btn btn-primary", style: "margin-bottom: 10px; margin-top: 5px;" %>

<table class="table">
  <thead>
    <th>#</th>
    <th>Source</th>
    <th>Pair</th>
    <th>Dir</th>
    <th>Entry</th>
    <th>TP</th>
    <th>SL</th>
    <th>Created at</th>
  </thead>
  <tbody>
    <% @signals.each do |signal| %>
      <tr class="<%= issue_flag_class(signal) %>">
        <td><%= link_to signal.id, edit_admin_fx_signal_path(signal) %></td>
        <td><%= signal.source.fullname %></td>
        <td><%= signal.pair.pair %></td>
        <td>
          <% if signal.direction %>
            <span class="<%= signal.direction == "buy" ? "green" : "red" %>"><%= signal.direction.upcase %></span>
          <% end %>
        </td>
        <td><%= signal.entry %></td>
        <td><%= signal.take_profit %></td>
        <td><%= signal.stop_loss %></td>
        <td><%= signal.created_at.try(:strftime, "%d %b %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
