<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".pair").focus();
  })
</script>

<%= form_for [:admin, @order], class: "form-group" do |form| %>
  Source
  <%= form.select :source_id, @sources.map { |source| [source.name, source.id] }, {}, class: "form-control" %>
  Pair
  <%= form.select :pair_id, @pairs.map { |pair| [pair.pair, pair.id] }, {}, class: "form-control pair" %>
  <p></p>
  Direction
  <%= form.select :direction, ["buy", "sell"], {}, { class: "form-control" }%>
  Size
  <%= form.number_field :size, class: "form-control", value: (@order.size || 1.0) %>
  Entry
  <%= form.number_field :entry, class: "form-control", step: :any, value: (@order.entry || 0.0) %>
  Take Profit
  <%= form.number_field :take_profit, class: "form-control", step: :any, value: (@order.take_profit || 0.0) %>
  Stop Loss
  <%= form.number_field :stop_loss, class: "form-control", step: :any, value: (@order.stop_loss || 0.0) %>
  Expired at
  <%= form.text_field :expired_at, class: "form-control", value: (@order.expired_at || Time.now + 24.hours).strftime("%Y-%m-%d %H:%M") %>
  Is there a bug in this order?
  <%= form.select :issue, [["No", false], ["Yes", true]], {}, { class: "form-control" }%>
  <p></p>

  <%= form.submit "Save", class: "btn btn-primary btn-wide" %>

  <% if params[:action] == "edit" %>
    <%= link_to "Remove from IG", remove_admin_order_path(@order), method: :delete, class: "btn btn-info btn-wide", data: { confirm: "Sure?" } %>
    <%= link_to "Delete", admin_order_path(@order), method: :delete, class: "btn btn-danger btn-wide", data: { confirm: "Sure?" } %>
  <% end %>

  <%= link_to "Back", admin_orders_path, class: "btn btn-default btn-wide" %>
<% end %>

