<%= link_to "New", new_admin_order_path, class: "btn btn-primary btn-wide", style: "margin-bottom: 10px; margin-top: 5px;" %>

<div class="row" style="margin: 0px 0px;">
  
  <% @orders.each do |order| %>
    <div class="item col-lg-4">
      <%= link_to edit_admin_order_path(order), class: "banner #{order_result_class(order)}" do %>
        <span><%= order.id %></span>
        <span class="<%= order.direction == "buy" ? "green" : "red" %>"><%= order.direction.upcase %></span>
        <span><%= order.pair.pair %></span>
      <% end %>

        <div style="margin-bottom: 10px;"></div>

        <div class="row container">
          <div class="col">
            <span>EN: <%= order.entry %></span>
          </div>
          <div class="col">
            <span><%= order.created_at.try(:strftime, "%d %b %H:%M") %></span>
          </div>
        </div>

        <div class="row container">
          <div class="col">
            <% if order.take_profit %>
              <span>TP: <%= order.take_profit %></span>
            <% end %>
          </div>
          <div class="col">
            <% if order.stop_loss %>
              <span>SL: <%= order.stop_loss %></span>
            <% end %>
          </div>
        </div>

        <hr />

        <div class="row container">
          <div class="col">
            <span>IG:
              <% if order.position.try(:closed_at).present? %>
                <i class="fa fa-stop"></i></td>
              <% elsif order.position.try(:opened_at).present? %>
                <i class="fa fa-play"></i></td>
              <% elsif order.deleted? || order.expired? %>
                <i class="fa fa-stop"></i></td>
              <% elsif order.ig_status == "accepted" %>
                <i class="fa fa-pause"></i></td>
              <% elsif order.ig_status == "rejected" %>
                <i class="fa fa-times" style="color: red;"></i></td>
              <% elsif order.ig_status.nil? %>
                <i class="fa fa-cloud-upload"></i></td>
              <% else %>
                <%= order.ig_status %>
              <% end %>
            </span>
          </div>
          <div class="col">
            <% if order.position.try(:opened_at).present? %>
              <span><%= order.position.try(:opened_at).try(:strftime, "%d %b %H:%M") %></span>
            <% end %>
          </div>
        </div>

        <div style="margin-bottom: 15px;"></div>

    </div>
  <% end %>

</div>

<div style="margin-bottom: 20px;"></div>
