<%= link_to "New", new_admin_order_path, class: "btn btn-primary", style: "margin-bottom: 10px; margin-top: 5px;" %>

<div class="desktop">
  <table class="table">
    <thead>
      <th>#</th>
      <th>Pair</th>
      <th>Direction</th>
      <th>Entry</th>
      <th>TP</th>
      <th>SL</th>
      <th>Created at</th>
      <th>Expired at</th>
      <th>Opened at</th>
      <th>IG Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr class="">
          <td><%= link_to order.id, edit_admin_order_path(order) %></td>
          <td><%= order.pair.pair %></td>
          <td><%= order.direction %></td>
          <td><%= order.entry %></td>
          <td><%= order.take_profit %></td>
          <td><%= order.stop_loss %></td>
          <td><%= order.created_at.try(:strftime, "%d %b %H:%M") %></td>
          <td><%= order.expired_at.try(:strftime, "%d %b %H:%M") %></td>
          <td><%= order.position.try(:opened_at).try(:strftime, "%d %b %H:%M") %></td>
          <td>
            <% if order.ig_status == "accepted" %>
              <i class="fa fa-check" style="color: green;"></i></td>
            <% elsif order.ig_status == "rejected" %>
              <i class="fa fa-times" style="color: red;"></i></td>
            <% elsif order.ig_status.nil? %>
              <i class="fa fa-cloud-upload"></i></td>
            <% else %>
              <%= order.ig_status %>
            <% end %>
          <td>
            <% if order.ig_status != "accepted" %>
              <%= link_to "Remove", admin_order_path(order), method: :delete, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mobile">
  <% @orders.each do |order| %>
    <div class="bordered item">
      <%= link_to edit_admin_order_path(order), class: "btn btn-default banner" do %>
        <span><%= order.id %>.</span>
        <span class="<%= order.direction == "buy" ? "green" : "red" %>"><%= order.direction.upcase %></span>
        <span><%= order.pair.pair %></span>
      <% end %>

      <div style="margin-bottom: 10px;"></div>

      <div class="row container">
        <div class="col">
          <span>EN: <%= order.entry %></span>
        </div>
        <div class="col">
          <span>@ <%= order.created_at.try(:strftime, "%d %b %H:%M") %></span>
        </div>
      </div>

      <div class="row container">
        <div class="col">
          <% if order.take_profit %>
            <span>TP: <%= order.take_profit %></span>
          <% end %>
        </div>
        <div class="col">
          <% if order.stop_loss %>
            <span>SL: <%= order.stop_loss %></span>
          <% end %>
        </div>
      </div>

      <div class="row container">
        <div class="col">
          <% if order.position.try(:opened_at).present? %>
            <span>OP: <%= order.position.try(:opened_at).try(:strftime, "%d %b %H:%M") %></span>
          <% end %>
        </div>
        <div class="col">
          <span>IG:
          <% if order.ig_status == "accepted" %>
            <i class="fa fa-check" style="color: green;"></i></td>
          <% elsif order.ig_status == "rejected" %>
            <i class="fa fa-times" style="color: red;"></i></td>
          <% elsif order.ig_status.nil? %>
            <i class="fa fa-cloud-upload"></i></td>
          <% else %>
            <%= order.ig_status %>
          <% end %>
        </span>
        </div>
      </div>

      <div style="margin-bottom: 15px;"></div>

    </div>
  <% end %>
</div>

<div style="margin-bottom: 20px;"></div>
