<%= link_to "Go back", admin_sources_path, class: "btn btn-light" %>
<%= link_to "Edit", edit_admin_source_path(@source), class: "btn btn-warning" %>

<div class="divider"></div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @source.name %></h5>
    <% if @source.username %>
      <h6 class="card-subtitle mb-2 text-muted"><%= @source.username %></h6>
    <% end %>

    <hr />
    
    <% if @positions.any? %>
      <p>P/L: <%= @positions.map(&:pl).compact.sum %></p>
      <p>P/L Rate: <%= profit_rate(@positions) %>%</p>
    <% end %>

    <ul class="list-group">
      <%= link_to admin_fx_signals_path(source_id: @source.id), class: "list-group-item list-group-item-action" do %>
        Signals: <%= @signals.size %>
      <% end %>
      <%= link_to admin_orders_path(source_id: @source.id), class: "list-group-item list-group-item-action" do %>
        Orders: <%= @signals.map { |s| s.order }.compact.count %>
      <% end %>
      <%= link_to admin_positions_path(source_id: @source.id), class: "list-group-item list-group-item-action" do %>
        Positions: <%= @positions.size %>
      <% end %>
    </ul>
  </div>
</div>
