<%= render "nav" %>

<% @sources.each do |source| %>
  <% next if no_source_data_at_all?(source) %>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= source.name %></h5>
      <% if source.username %>
        <h6 class="card-subtitle mb-2 text-muted"><%= source.username %></h6>
      <% end %>

      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Total signals</th>
            <th scope="col">Total positions</th>
            <th scope="col">Ongoing positions</th>
            <th scope="col">P/L</th>
          </tr>
        </thead>
        <tbody>
          <% @dates.each do |date| %>
            <% next if no_source_data?(source, date) %>

            <tr class="<%= pl_class(pl_from(source, date)) %>">
              <td><%= date.strftime("%b %d %a") %></td>
              <td><%= signals_from(source, date).try(:size) || 0 %></td>
              <td>
                <% if (positions_from(source, date).try(:size) || 0) > 0 %>
                  <%= link_to admin_positions_path(from: date.to_s(:date), to: (date + 1.day).to_s(:date), source_id: source.id) do %>
                    <%= positions_from(source, date).try(:size) || 0 %>
                  <% end %>
                <% else %>
                  <%= positions_from(source, date).try(:size) || 0 %>
                <% end %>
              </td>
              <td><%= ongoing_positions_from(source, date).try(:size) || 0 %></td>
              <td><%= pl_from(source, date) %></td>
            </tr>
          <% end %>
          <tr>
            
          </tr>
        </tbody>
      </table>


      <!-- <a href="#" class="card&#45;link">Card link</a> -->
      <!-- <a href="#" class="card&#45;link">Another link</a> -->
    </div>
  </div>



<% end %>
